body {
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}
.vote_btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 1);
    box-shadow:-10px 0 10px #fff, 10px 0 10px #fff, 0 -2px 5px #555, 0 10px 10px #fff;
    z-index: 1000;
}
.vote_btn .weui_btn_area {
    margin-top: 0;
    margin-bottom: 0;
}
.vote_btn  .weui_btn_primary {
    width: 8em;
    margin-top: .2em;
    margin-bottom: .2em;
}
.vote_remind {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 13px;
    color: #555;
}
.container {
    width: 100%;
}
.banner img {
    width: 100%;
}
