<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
        <title>给你喜爱的啦啦队投票～</title>
        <link rel="stylesheet" href="../../www/vote_lala/static/css/weui.min.css">
        <link rel="stylesheet" href="../../www/vote_lala/static/css/index.css">
    </head>
    <body>
    <div class="vote_btn">
        <div class="weui_btn_area">
            <a id="submit_btn" href="##" class="weui_btn weui_btn_primary weui_btn_disabled">投票</a>
        </div>
        <div class="vote_remind">你还需选<span id="vote-remind-num">5</span>票</div>
    </div>
        <div class="container">
            <div class="banner">
                <img src="../../www/vote_lala/static/img/banner.jpg">
            </div>
        </div>
        <section class="explain">
            <div class="weui_panel weui_panel_access">
                <div class="weui_panel_bd">
                    <div class="weui_media_box weui_media_text">
                        <h4 class="weui_media_title">投票规则：</h4>
                        <p class="weui_media_desc">投票时间: 4月2日-4月8日
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="team_list_wrap">
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
            <a href="##" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../../www/vote_lala/static/img/head.png" alt="合照">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">传媒学院</h4>
                    <h4  class="weui_media_title vote_num_info">当前票数: 2000</h4>
                </div>
                <div class="vote_check_btn">
                    <input class="vote_check_input" type="checkbox">
                    <i class="iconfont">&#xe640;</i>
                </div>
            </a>
        </section>
        <!-- 弹出层 -->
        <section>
            <div class="weui_dialog_alert" style="display: none;">
                <div class="weui_mask"></div>
                <div class="weui_dialog">
                    <div class="weui_dialog_hd">
                      <strong class="weui_dialog_title">提示</strong>
                    </div>
                    <div class="weui_dialog_bd">一次只能投5个哦~</div>
                    <div class="weui_dialog_ft">
                        <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
                    </div>
                </div>
            </div>
            <div id="toast" style="display: none;">
                <div class="weui_mask_transparent"></div>
                <div class="weui_toast">
                    <i class="weui_icon_toast"></i>
                    <p class="weui_toast_content">已提交</p>
                </div>
            </div>
            <div id="loadingToast" class="weui_loading_toast" style="display:none;">
                <div class="weui_mask_transparent"></div>
                <div class="weui_toast">
                    <div class="weui_loading">
                        <!-- :) -->
                        <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_11"></div>
                    </div>
                    <p class="weui_toast_content">提交ing</p>
                </div>
            </div>
        </section>
        <script src="http://a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js,static/fastclick/1.0.6/fastclick.min.js"></script>
        <script>FastClick.attach(document.body);</script>
        <script src="../../www/vote_lala/static/js/index.js"></script>
    </body>
</html>
