<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <title><% title =%></title>
    <link rel="stylesheet" href="../../www/vote_lala/static/css/weui.min.css">
    <link rel="stylesheet" href="../../www/vote_lala/static/css/detail.css">
</head>
<body>
    <div class="container">
        <div class="banner_wrap">
            <img src="../../www/vote_lala/static/img/banner.jpg" alt="banner">
        </div>
        <section class="info">
            <h2 class="college">通信与信息工程学院</h2>
            <div class="rank">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>当前票数</p>
                    </div>
                    <div class="weui_cell_ft">100000票</div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>当前排名</p>
                    </div>
                    <div class="weui_cell_ft">第1名</div>
                </div>
            </div>
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">啦啦队口号</h4>
                <p class="weui_media_desc">天下第一,为我独尊天下第一,为我独尊天下第一,为我独尊天下第一,为我独尊</p>
            </div>
        </section>
    </div>
</body>
</html>
